/*conteudo header*/

a {
    text-decoration: none;
    color: aliceblue;
}

header {
    background-color: black;
    color: aliceblue;
    justify-content: center;
    display: flex;
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;

}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    margin-top: 8%;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

/*conteudo main*/


main {
    margin-bottom: -1%;
    margin-right: 7px
}

.som{
display: none;
}

.slideImagem {
    overflow: hidden;
    width: 106%;
    height: 554px;
    margin-left: -65px;
    display: flex;
    justify-content: space-between;
}

.slideImagem img {
    float: left;
    width: 96%;
    background-size: cover;
    height: 105%;
    animation: slideImagem 20s infinite;

}

@keyframes slideImagem {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

.caixaPai{
    background-color: black;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    margin-top: -34%;
    margin-left: 31%;
    width: 30%;
    height: 52%;
    text-align: center;
    opacity: 95%;
    border-radius: 11%;
}

.iniciarQuiz{
    border-radius: 20px;
    border: 0px;
    width: 59%;
    height: 18%;
    font-size: 117%;
    margin-top: 0%;
    background-color: green;

}

.tituloquiz{
    display: flex;
    margin-top: 25%;
    margin-left: 134px;
}

.quiz-hidden{
    display: none;
}