/*conteudo header*/

a {
    text-decoration: none;
    color: aliceblue;
}

header {
    background-color: black;
    color: aliceblue;
    justify-content: center;
    display: flex;
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;

}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    margin-top: 8%;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

/*conteudo main*/


main {
    margin-bottom: -1%;
    margin-right: 7px
}

.som {
    display: none;
}

.slideImagem {
    overflow: hidden;
    width: 108%;
    height: 554px;
    margin-left: -80px;
    display: flex;
    justify-content: space-between;
}

.slideImagem img {
    float: left;
    width: 95%;
    background-size: cover;
    height: 105%;
    animation: slideImagem 20s infinite;

}

@keyframes slideImagem {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

.caixaPai {
    background-color: black;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    margin-top: -34%;
    margin-left: 33%;
    width: 29%;
    height: 47%;
    text-align: center;
    opacity: 95%;
    border-radius: 11%;
    font-size: 102%;
}

.inicializando {
    border-radius: 20px;
    border: 0px;
    width: 59%;
    height: 18%;
    font-size: 117%;
    margin-top: 7%;
    background-color: green;

}

.tituloquiz {
    display: flex;
    margin-top: 67px;
    margin-left: 134px;
}

.quiz-hidden1 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden2 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden3 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden4 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden5 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden6 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-hidden7 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tentar {
    border-radius: 20px;
    border: 0px;
    width: 52%;
    height: 11%;
    font-size: 125%;
    margin-top: 35%;
    background-color: green;
    margin-left: 24%;
    justify-content: center;
    align-items: center;
}